<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
</head>
<body ng-app="SandBox">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
                    <li><img src="data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAAOwAAAAsCAYAAABmO1SgAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfhAg0XMx/5bDQKAAAT+klEQVR4Xu2dCZQcRRnHQ8IdEETuIKdAAEUgiAaEPQISBUXA5IGcilxR7lOT3dlAABHEC7k9UA5FEEXlJmQ3LAIJlxxiuNUgERDIye4mu/7+3d/O297p6aqe7tls8ub/3v9VT9V3VHX3N91dVV09ZMmSJc9WyGfgY7AV3t7d3f1jeBIcC3fo6elZdchygsWLFx9Fe7zAvrjc1AYlaMuZ1LHbqpsIjuOpppYJmFoJrgFXsKzcMRA+BgVoYO7gQL8J2+BFsI6stczdMolawLqB+Arww+hsQTqK9GB8fZvtX8Jp/D5LMiZeEbCxClwfbg0/DQ+BE+HP5YN2XUS6sokvn6CBVQU78V34B3bqeLimuV2mUAvYeFA+Anvj4Rls/wjqOD8N/wc7zUwAfle0X9DbGPWjqfNktq8jvRf+A87ld1doPQR5vydvFVNdPmFtrTrYmfPYmTfCT5nrZQa1gI0Htk5AZp6JJwK5y0wtFbq6ur5IfReamUQgdxN+agGbJ9ipf2enHmLulwnUAjYe2DrHRJ3IELBfQdesJKMWsFUCO/V/JMdZFQY9lrOAPduq6gTH6XRTi4WC30SdyBCwB7FPI7e+5VAL2CqCHatb5GXiSrucBeyZ7HerbTKQc11hawE70LC2LhWwg2ezg/ewqgxaLE8By/7eBuo2U51F4+JIM5QeiszWphYLZGoBO9Cwti41sIPvIVnXqjMowYm53ARsnqgF7FKAtdUJdkQ3O+QhksuNP4XqZldX/lNQz6WpgV4XB36CVWdQohaw8WC/nGrNdoLjfImppQIBq15i34C9wdSWX1hbnWBnsM+7z2BzqHEYXIm84XATeAC8Hrm55KcCOtPRHWFVSg1014E7wy/BY+DJ8HR4CifV8aTjcfNZ0hGkK5maNwYqYKmf2rELZr5MWmwH/k+Dx1n+zqRrm0pqoLs6NtaD68+bNy+WKoMbwNVMLQC6K/fqsr0WbW0h9QKyV5ntj/T1o5Ti1c2FfKwoGfOxNtQYrG/A3oaezsV1en2YH7WlojkAmNX+0mPE5+DhHIdvkurcOg1OUB7cB24jWVOrHoKWeoCdQZ26TzG1WCC2Og36BnJvhFp+wPYidA4zM15AbVX+fRvRvRDdB+Astt8hjQzYkydokP110hmk11JHTeLYwEw5gXzVApZ6DKcdY9D7Ln40zfMlWDLxgLzFlj8L3gsLcDRFw8yUF9A5DDt/JX0UPhJHyh+FM9mOdAryey+oOmpKajvbr4e1cwPZ/0DZjvix7WPMxZCOjo4d+P0X8/EwVHt9h6Hekh6p2lf0A3XcJ5oLLyD/cXgK1GQMTcN9E0bGg8nXcVlIqrY9Y7LS2cHM5A/z7QQVox7dp5laIjjxvta/cS5g+1ro9fyB3G7wBnzMMfVUsJ18PzyUnyua2bKoVsDivwH5m+Fbpp4K6P0LG1dykn/STDpBWzRd0AvYPsvUAvD7ICvKFdg931wM6ezs/Aztet+KcgM+biBxTo1EZkP2UYE6vICOX3d6H0gH3edJJsGNzGx+MD9OUAnVxStgER+GvOaQegPbT5FsbiZiQfkwdubx2Pb+Z08CPnXl/cncuXPXMxexyDtgEdOdyDn4nh1qZQM+X8LW4WY+EfiteOIEv/XYk+qP2AfYbDYXCtjdqN9/rCg34ONnJIkBi+89kJkWKOQA2qE7v93MfD4w207oIAOvgBVUUej9T4l93c7ua+olQETB2oRM5FYxD+D7tyQbmqsS5Bmw1H9NZK6AS0wlF2D3A+qpSRGJJyUytYCNAY8l++L35VA6P2DzedpUZ26yw+w6oYMMvANWQOd+U3cC24vhyaYaAcVDVQY/CKXzB3W9BvuRTpZe5BWwM2fOVCfdpSaaO/Ddif3T2RxqLktQC9hSUDYany+GkvkD2xpFyee51mw6oYMMUgUsJ0eTqXsB+5eaagTk61kvl9vHcsC+/jCOMpcR5BWwsoMPrx7PSoH/t/DxRXNZglrARkH+Bvi7K5SqHvDxC5LsvcihOTd0kEGqgEX+QFP3hZ57I8Mu/F4LO7cGpZ6grl3wv+iJ3rfQyD6hYQBzXUQeAbtw4cLNsP+CiVUV1OFBfMUOk2UJWLI0rNQRluYHbBbMhQL209Svos7EJOBDAVMSsOyPk/GX6vEEcfXWq9d4vmU5gbym4u5nbiuH2XOCyuEvXcCy8zX26f2PjOztJJExRvL0r+49tousXpz/FtS42b7wJOr+oBU7wQE82lwXkUfAUo9JJuIF5Dvg37A3FT7JtvfjAPJUefFJ5joC8jMFLLq5P5bgp2/A6gpbjYDVS+6RgCVvE3zNDCXcQPZldDSMqPH+Rng4eb+AXucncuqpTjUMV4LQlBs4o37pAha1ndDzHpPF/t2w2GPL9iroX2fFTiB7C0lJTzN2tqBMfwZOIHcbSeQZMGvA4n8j8tUL7gVkX8TnsehtC0dArbCg8dNZJuIEsrrKlgwrZAlYfm+D/tlwEjwdO963kshq3PY7bJ6rVMTGRJG8z5oL+dgYasJLE1Rdb4ReV0D0nkKnmVQ98IEPkTyNWe9vLoog/zDyvWxThee6urr2MdUiKFKP/7cpXxBKlge+XofbmmplMFtOUCF8pb4l3gG9V82EE8hOnT9/fvEkI2tL8l4KS5OBnHr4djLVElCXT8HXQunywM4s3b6aWgAOSNaAPRB63Uqi/x6y40PNKDhhvkC51xRQbMyHJbdgtKXigO0PbGnmmxew9X1TSwXafCD19Xrux8eNJF5LxCA3FNu/DhQdwH8HbT3RVEuAyBrI6I8+EdRPiD223jBbTuggg7QBux30CjgBWfUqF4dX+K2J374n+hWmVhbY+5WJlwV2FnEgG00lQNaAJe8HVuwEsrdSz9gJJBSvSLmzDb3AzoUkkdvAZTBgdRvuOzVRAes19RS5dZH3umOh7k+QbGmqsdA5gj2fx78WU6kMZsQJHWSQNmA/Ab0nOdBo3WIV39zB5+SwJBn40EPbObNnz9a8zzXJWqsvyfsQXA17U/jtBLJHWBUC6GBYkRP4iASs+b3XihOBrHqqv2mqsaBcc1d9bxHvg8NNNQBtyTNgl9m3dZDbA3otb4PdO3Tnx6ZWZYycWyJ2VoPqM3E+e2PLa8ZVWYRm3NBBBqkCtrOzc1f03jYTTiCrydsfMnUFrNfVBB1El6iD5i54N7ynLylX3p1Q081Mqzz6tzNjwH6MPK/nV2Q1eSRxkJ1ynWhewx7IqVc68kxfC9gQ1P1oZL32A3b13rb6V3R+Rc4to86thylfZCplgYzOx8pfATQ7TlAh/KS+wmr8dLGZcAJ5dTAFvWikq/K76uNjceBgTgoaYMgYsFqO8xUrTgS6uhtJvPWifCT2ng4UHEDuDTjaVAPUAjYEdVcH2ICD+j1EUvl4bGjGDR1kkDZgjzR1L+DjYlOVrl7jUuMGHPhtsmoEyBKwZO1NntcwBXJ6pkp8dY66qde4PdRIBvbUgfX5UDNELWBDIHuJqQ0o8Dtjzpw5a1g10sPsOKGDDNIG7GWm7gSyHP/F3zJV6W6MT+8xsjyB79wCFltpenafI0n890VmPWS8JqjjV28lHWSqAWoBGwK5y01toKFzevAF7KxZs7RK+2Om7gT23+HgFK8G6H4UPmnFAwr85hmw+5HnG7DPwtj5zL1AbF1kpoYaycCvAvZAUw1QC9gQyF1pagONwRmw7Oi9kXc+hPcC+7q6FJ/f0NUA+oywdGCB3+LMGyFjwH6OPK/3XZFVp1jiygiIbYhMW6iRDOT0+mBkwkAtYEMg92NTG1DgVxehwRWwiOt92FTzf7F9PUnxA1r81nIprWFpMlQxHVTYaWlFxIwoRFYnyBiwu5PnNbSF3KvIb2KqsVi0aNFWyD1uKonA1n9J6k01QC1gQyCr7/B4AVmt9qFzK+v5pfP0UUwOroDlQOol8zST7tWYY009ANla28drOiFy7+BT09AO4OeXKyUnh2YkHcz2SKtGgCwBS9ZI8p4JS5OB7zmdnZ2JnzJBbBT2vHqdsfcK/LipBqgFbAjqfpqpJQJ7vXYPoC6x540vsaFzqx46VzkpC5S9oIMMEgMWsWHIHAFTvR6FvNbD2c7MFEGeV8cAcu+zMyO9oXkiS8BSN72w7vvM+QHyiStHUK6J514vVCCnR4rIErJLMWArnenkHbD4uInEa2qi/Tl7XVTwX1Hd02DcLeOGFVobdylMa/h6oa3+7KbWxlMLbXX7f+euPaPzwa1OTuggg9g3QMhfE+q1qB+QvmMq3kDvYpKSl66xpRXqfGf16Jmk7IvbWZAlYAXqdrUVOxGn3xeUn2eiTiCrEzgyVW9pBayrXeWQMmD/CH2fYbfFrh4ZnEBOnaeJyxdlwcQHRm/WPK3+kpa2+pdaHmromfLY3j3nPzKmp9BaP7dpWv0Dk6Y3HFQoFMJzO6ySGzRQuJ6DFKwOz7YWMDuOxkyGt0DnxPo4oPcitmIXESN/NPT6A8COZqNUfJXFRNnpYrQ3a8AeSb7XBBLk1PFUcrchLFiwQK+Deb/1g52SgFOQYSOXgKXc67ZSwKe+EbuOqUZAsT7GrCVNS149I8/7HVx8aPGz2LdhKNbSvB+GxYk5qhOpE8jpGfZ8NiuaUpikN7G9QcF6+3kPN/ZMeXRMT8tDjT2F6Q09LVB5F8zYW9tzmlvHhIsrBDXyBJVeBN8zqgcy07uR2NAc4MjKfH2hA4zIfSbuBPI6YHpp3mvHIrcl8loFQlfyj1h2CahjpoAlW37SvBp3M8mmph5A9SM/zZW6ZJaTQFvyDNgTTNQJZLWU7Q/ZHAU3ZXsbntfrSPUaodaz1ph9yYe/KRtLme+cX3Xq6HlTy7/Kx8fg7rRZ86+1BJCmuhYfEfjtvYIkdjUJRWuKlT1P+kJycCy+tXrijpYdwdUzR63U3Nrw/ckEplhoa4ilgraptf7fhfa6kakCNm/QkJIX1vuDBp8cSvsBm+9yG6VbQc0V3VW9qmxvzrYWg9Y0QT276P3Fm0k1/1jQe4qRzpm+yCFgV8C+9yQSATtal/dCfE+AWnYz1Wp++FP7IhP/BWzlGbBa39nrdlVAVu16DT4On4XFW1LK7iYpORfI/wxMu871bPlAT8f3DRjc3fD7H7C4HjXbO6s8UPIA8rrStpKeDfVno8XDdW5tBbWQvQJ0AjJXst1OGixCyHakQ7UXhdY9d+O29zVdWeMCtUiutrpN5tn2e0stYGmMVlHYyupeFshshqz3BIxeoCMsgO/D4I7Afpd0NOCDGO86wFyWIGvACvjYjrLUaxWh5xVcfYGf92hP7LpOOQes+i28ngNdwNYdJHFXWD0G/C2UygZsqXOzuAQQWeok9X71sS/Q06SU4NyydD5Up2HJviVL/SslPcOFafUTJrc3LJms2+C4QO3Dye2NPc2tda8tlYClAU91dHSUfdm8PzjJjmBneN0WVQp8RCZL9EUeASvQbq1oWHXg5yoY2/mSc8DqtUW9K5oZ2IkNWPIUVL8LhDICO5GAFfitzievlykqBfZjn9+bWutapnC7qytoXJD2pzqkBjxgqbyGOLyDVaCxet/wMpj6auML6qXb89jxsRwDdjjlul2vGvChpVjKfiYyz4AVkEl1q18O2IkNWIGyE33rnATslASsQN5XsF/R1xd8gP1XSUrO+cL0unPPe2RM0MEUF6ARSqa1YeGABSw7RCvN/YTNSGeKL7SjsaGV76oC7D/Tf2mYXuQVsAIim2LvzlA6X+D7eZLi+khxyDtgOzs7RyH3rqlUDGyUDVib3ZV5XrmOMSwJWIqGsl9OpCyX2/v+wK5unw81d0U0T6sb1zStfoF6g2ODtA81zNPcWj+16gHLjtbaQn/WeBo/i1MPKwH6WtbjYuxV49srHdQxdhnKPANW4ARUr7G+DeT9rrAL2NOriInBKuQdsIipQ817bLgcsPEXktiAFaj3sdTbudBZEvChUYTYj6BRrKDVKohVWYoWv5prEBm9mHJ/4wiCsE29wEm3xUEvcntjNzJfrUrAUjn1pqnn9XqonkSvrnAfYH5FdqxsajnT3G6Rqa96EPcyNxHgL03A/tTUEoEvzZVWb2OmFefR1yoV+l7vFmY6EbTlLGRNOxnI+c4dX5t2X+1rNw7o3g6Lq430ByJa0KAJP95rAfcH+k/DxO8oIaapnzpvc+szwdbbUP0XJcONhel7jScQ3w6CNi5Y2xt7Lpi5jyZR/P6Me/YZnjlgqYgu9xrzUzf9/TphOSk0PXF7mPiqWBZgW2/zHIO/P8GKvgqA/j/RvYtUQ0cjYbln2GMCBQ9g7xpT8wK+d4QXoqfPOXgvaI3sC+ioc6mRn97fvKUtFX+9LgmIa20jLcrt3YGDLCrB0MsVpPoQVeL4OeUrU38tTao/6zQrmehTpDeQ7s9P57rAyK3G3dZYUn1RUVfl0FAKoPMufITN75LuSRo74f+WnnHDmtvqjm1ubZitoFWABsHKFVe3wUHvcFv9bRMfaAhHVDC2fxpquAAqHQvHkLe7fdNzYyqVbZHkCiCf+N6WumiCdQsH5lao75vqIL0KNe73IpwBtfaOrgT6hqcOiMbRnBOxkfuo2k0qJu0XzcopO56bBPQ00N4Atd6v1uLV91PVBtVfqb6lqg6rc/GjBb8q+gA2+rodV50T24Kc9mficjVxQF8rhXwBXkCdtQbSc9aGl6GCsw3+ivJT8aPFuEueKV2gXloMrR7didi6Az4NdaxfgXqnWN+V/Q0y2lf7klbUbyJgSxcG1VPnzM+xq3HY56B89bZLV+6pUAustfCnojvAXaD3R6QLbY3bE6iXErivB51QrQ0LW9rq7+WW+bAz7tnRxtOHDPk/VQIeOPQ0SzkAAAAASUVORK5CYII=" /></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")


    <script src="~/Scripts/jquery.jscroll.min.js"></script>


    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/angularapp")
    @Scripts.Render("~/bundles/angularcomponents")
    @Scripts.Render("~/bundles/bootstrap")

    <script src="~/Assets/Services/scroll-service.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
